@import "tailwindcss";

@theme {
  --color-background: #0e0e0e;
  --color-surface: #0e0e0e;
  --color-surface-container-low: #131313;
  --color-surface-container-highest: #252626;
  --color-primary: #dab9ff;
  --color-primary-container: #5e289b;
  --color-outline-variant: #484848;
  --color-on-surface: #e7e5e5;
  --color-secondary: #9f9da0;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", "SF Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-on-surface);
  @apply font-sans antialiased;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}